body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}
/* files related to header (start)*/
.hero {
    display: flex;
    background-color: #1f2937;
    flex-direction: column;
    padding: 1em 10em 2em 10em;
    align-items: stretch;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    padding-right: 1em;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 10px;
    padding: 0;
    justify-content: flex-end;
}

.header a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero-content {
    display: flex;
    padding: 4em 0;
    justify-content: space-between;
    gap: 2em;
}

.content-text {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.hero-content img {
    height: auto;
    width: auto;
    max-height: auto;
    max-width: 500px;
    border-radius: 5px;
    flex-shrink: 1;
}

.hero-main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;

}

.hero-2nd-text {
    color: #e5e7eb;
    font-size: 18px;
}

.flex-button {
    display: flex;
    justify-content: flex-start;
}
.action-button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    padding: 5px 1em;
    display: flex;
    justify-content: flex-start;
}
/* files related to header (end)*/

/* files related to info (start)*/
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* files related to info (end) */

/* files related to footer (start)*/
.footer {
    display: flex;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
/*files related to footer (end)*/